//
//  API_Keys.xcconfig
//  Netflix clone
//
//  Created by Tanishk Sahni on 21/11/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_NAME = Netflix clone
APP_BUNDLE_ID = com.tanishksahni.Netflix-clone
    
// these are the authentication key from tmdb
TMDBAPI_KEY = 30176ea7a9f4ad826804e004bf3b843d

// this is the youtube api key
YoutubeAPI_KEY = AIzaSyDJ0KtOfwD-6KpEPyI6ZUfBUdxVU1nMQXQ
